#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

# This is the debhelper compatibility version to use.
export DH_COMPAT=3

# This has to be exported to make some magic below work.
export DH_OPTIONS

build: 
	mkdir -p build
	meson  --buildtype=release  --sysconfdir=/etc --prefix=/usr -D platforms=x11 -D dri-drivers= -D gallium-extra-hud=false -D vulkan-drivers=panfrost -D gallium-drivers=panfrost -D llvm=disabled -D tools=panfrost -D egl-native-platform=x11 build/
	cd build && ninja -v

clean:
	rm -fr build

source: clean
	dpkg-buildpackage -S -us

install:
	DESTDIR=${CURDIR}/debian/mesa ninja -C build -v install

